[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.110.0"
uvicorn = {extras = ["standard"], version = ">=0.28.0"}
semantic-kernel = "==1.32.0"
httpx = ">=0.27.0"
mcp = {extras = ["cli"], version = ">=1.9.0"}
sentence-transformers = "==3.4.1"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
